.header {
    background-color: #011010;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.32);
    margin-bottom: 5px;
}

.logo {
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    display: inline-block;
    color: white;
    width: 217px;
    font-size: 30px;
    line-height: 60px;
    position: relative;
    transform: skew(0, -3deg);

}

.logo:hover, .logo:focus {
    color: #f95215;
}

.text-center {
    width: 100%;

    text-align: center;

}

.text-left {
    width: 100%;

    text-align: left;
}

.h-title {
    font-size: 38px;
    padding-left: 250px;
    padding-top: 150px;
    padding-bottom: 30px;
    color: #ff5939;

}

.p-info {
    padding-left: 250px;
    font-size: 20px;
    color: #ff5939;
}

.layui-aside {
    position: relative;
    top: -130px;
    width: 200px;
    height: auto;
    margin-right: -200px;

    background-color: #f2f2f2;
}

.layui-aside-nav-item {
    transition: all .5s;
    text-align: center;

    border: 1px solid #ddd;
    border-bottom: transparent;
}

.layui-aside-nav-item .btn-reg {
    font-size: 30px;

    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 7px;
    padding: 44px 35px;

    transition: all .5s;

    color: white;
    border-radius: 5px;
    background-color: #f95215;
    box-shadow: 0 3px 0 #bb3909;
}

.layui-aside-nav-item .btn-reg:hover {
    background-color: #bb3909;
}

.layui-aside-nav-item:last-child {
    border-bottom: 1px solid #ddd;
}

.layui-aside-nav-item .active {
    background-color: #2679a6;
}

.layui-aside-nav-item a {
    display: inline-block;

    padding: 10px 20px 10px 20px;

    text-align: left;

    color: black;
}

.layui-content {
    box-sizing: border-box;
    width: 920px;
    padding: 10px;
}

.layui-content-inner {
    /*margin-left: 200px;*/
}

.course-synopsis {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;

    padding: 10px;
    background-color: #f2f2f2;
}

.course-synopsis > p {
    line-height: 22px;
    text-indent: 2em;
}

.course-box {
    padding: 5px 0 5px 0;
    box-sizing: border-box;
}

.course-inner {
    padding: 10px 90px;
}

.course {
    float: left;
    width: 40%;
    margin-bottom: 15px;

    border-radius: 8px;
    background-color: white;
    padding: 20px;
    transition: all 0.5s;
}

.course:nth-child(2n-1) {
    float: left;
}

.course:nth-child(2n) {
    float: right;
}

.course:hover {
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .2);

}

.course:hover .course-img img {
    transition: all .5s;
    transform: scale(1.2);
}

.course-img {
    overflow: hidden;
    width: 275px;
    height: 154px;
    transition: all .5s;
    transform: scale(1);
}

.course-img img {
    width: 100%;
    height: 100%;
}

.course-title > h1,
.course-teach > h1 {
    padding: 5px 0 5px 0;
}

.course:hover .course-title > h1, .course:hover .course-teach > h1 {
    color: #f95215;
}

/*教師*/
.course-teacher {
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;

}

.teacher-box {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.teacher-info:first-child {
    margin-bottom: 10px;
}

.teacher-head {

    width: 240px;
    height: 240px;
    float: left;
    background-color: white;
    border-radius: 5px;
}

.head-box {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 20px;

}

.head-box img {
    width: 100%;
    height: 100%;
}

.teacher-name h1 {

    font-size: 20px;
}

.teacher-brief {
    width: 560px;
    height: 240px;
    float: left;
    background-color: white;
    padding: 20px 20px;
    box-sizing: border-box;
}

.teacher-brief p {
    text-indent: 2em;
    line-height: 1.8em;
}

.layui-footer-inner {
    padding: 10px 5px;

    background-color: rgba(0, 0, 0, .53);
}

.layui-footer-inner p {
    line-height: 24px;

    color: white;
}

.gotop {
    position: fixed;
    right: 30px;
    bottom: 150px;

    width: 34px;
    height: 34px;

    cursor: pointer;
    transition: all .5s;

    opacity: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url('../images/gotop.png');
    background-repeat: no-repeat;
    background-position: center;
}

.layui-footer {
    position: relative;
}

.wechat {
    position: absolute;
    top: 0;
    right: 20px;
}

.info {
    width: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
}

.info p {
    line-height: 40px;
}

.map {
    float: right;
    width: 400px;
    height: 250px;
    border: #ccc solid 1px;
    font-size: 12px

}

@media screen and (max-width: 600px) {
    .layui-main {
        width: 100%;
    }

    .layui-nav {
        display: none;
    }

    .layui-body {
        width: 100%;
        background-size: cover;
    }

    .layui-body .p-info, .layui-body .h-title {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    .layui-body .h-title {
        font-size: 18px;
        padding-top: 160px;
        padding-bottom: 30px;
    }

    .layui-body .p-info {
        font-size: 12px;
    }

    .text-left {
        text-align: center;
    }

    .layui-aside {
        display: none;
    }

    .layui-content {
        width: 100%;
    }

    .course-inner {
        padding: 0;
    }

    .course-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .course:nth-child(2n-1), .course:nth-child(2n) {
        float: none;
        width: 80%;

    }

    .course a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        box-sizing: border-box;
    }

    .course-teacher {
        padding: 0;
    }

    .teacher-head, .teacher-brief {
        float: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .teacher-head {
        width: 100%;
    }

    .teacher-brief {

        margin: 0;
        width: 100%;
        padding: 15px 10px;
        height: auto;
    }

    .info {
        margin: 0;
    }

    .info, .map {
        float: none;
        width: 100%;
    }

    .gotop {
        right: 15px;
    }
}
